
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
}
/* Propiedades Basicas */

img{
    border-radius: 10px;
    height: 100%;
    width: fit-content;
    /* margin: 100px 80px 100px 80px;    */
}
input{
    width: 97%;
    border: 2px solid #b3b3b3;
    border-radius: 6px;
    padding: 8px 0px 8px 6px;
    justify-content: center;    
}
form{
    width: 100%;
    margin-top: 20px;
}
::placeholder{
    color:#b3b3b3;
    font-weight: 600;
}
.parteUno{
    background-color: rgb(44, 51, 51);
    padding: 10px 0px;
    font-size: 10px;
    color:white;
    display: flex;
}




/* SECCION GENERAL */

.seccionGeneral{
    background-color:white;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
}
.conteinerizqYder{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

                /* ACA COMIENZA LA CAJA IZQUIERDA */





.parteIzquierda{
    height: 464px;
    width: fit-content;
}
                /* ACA COMIENZA LA CAJA DERECHA */
.parteDerecha{
    width: 250px;
    border: 1px solid #d5d5d4;
    border-radius: 10px;
    height: fit-content;
    /* width: max-content; */
    /* margin: 50px; */
    padding: 20px 20px; 
   

}

             /* GOOGLE APPLE FACEBOOK */
.tituloSignIn{
    font-size: 1.6rem; 
     display: flex;
    justify-content: center;
}
.tresIconos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.btningresoRedSoc{
    width: 2.2rem;
    height: 2.2rem;
    padding: 8px 18px;
    border: 1px solid #d5d5d4;
    border-radius: 5px;
        }

.avisoContinue{
    font-weight: bolder;
    display: flex;
    height: min-content;
    width: max-content;
    padding: 0px 5px;
    margin: 20px 0px;
    color:rgb(44, 51, 51) ;
} 

.lineasContiguasTitle{
    border-left: 75px solid  #b3b3b3 ;
    border-right: 75px solid #b3b3b3 ;
    height: 1px;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
}

                    /* BOTONES CUENTAS */


.botonesAcount{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/* INGRESO CON EMAIL */
.emailSignIn{
    background-color:rgb(255, 115, 28);
    color: white;
    border:  1px solid rgb(255, 115, 28);
    border-radius: 8px;
    padding: 6px 20px;
   /* margin-top: 50px; */
    text-decoration: none;
}
/* INGRESO CON NRO DE TELEFONO */

.mobileNumber{
    background-color:transparent;
    border:none;
    color: black;
    border-radius: 8px;
    padding: 6px 20px; 
    text-decoration: none;
    font-weight: bolder;
}
.passUsuario, .titleEmail{
    font-weight: bolder;
    width: 100%;
    color: rgb(44, 51, 51);
}

             /* INTERACCION CON EL USUARIO */

.formulario{

    display: flex;
    justify-content: center;
    color:  rgb(44, 51, 51);
    /* font-weight: bolder; */
    text-decoration: none;
}

.olvideContraseña{
    text-decoration: none;
    color:  rgb(44, 51, 51);
    font-weight: bolder;
}




/* BOTON Y DIV SIGN IN */

.divConfirmUsuario{
     display:flex;
   justify-content: center;
}
.botonSignIn{
    background-color:rgb(255, 115, 28);
    border:  1px solid rgb(255, 115, 28);
    border-radius: 5px;
    color:white;
    padding: 8px 50px;
   text-decoration: none;
    margin-top: 20px;
}



.noTienesCuenta{
    text-decoration: none;
    color: rgb(44, 51, 51);
    font-weight: bolder;
    display:flex;
    justify-content: center;
}

.registrarseAhora{
    color:rgb(255, 115, 28);
    font-weight: 600;
    /* border-bottom: 1px solid rgb(255, 115, 28); */
    display: flex;
    justify-content: center;
}



input:focus{
    outline: none;
    border: 2px solid #b3b3b3;
    
}
input:hover{
    border: 2px solid;
    border: 2px solid #b3b3b2;
}
.emailSignIn:hover{
    color: rgb(255, 115, 28);
    font-weight: 800;
    background-color: transparent;
    border: 1px solid rgb(255, 115, 28);
    transition: all 0.1s;
} 
.mobileNumber:hover{
    background-color:rgb(255, 115, 28);
    color: white;
    font-weight: 400;
    /* border: 0px solid rgb(255, 115, 28); */
    border-radius: 8px;
    padding: 7px 20px;
   /* margin-top: 50px; */
    text-decoration: none;
    transition: all 0s;

}